
/* Navbar */
.app_navbar{
  background-color: #20232A;
}


/* Login */

.form_container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
}
.form_wrapper{
  border: 1px solid #eee;
  padding: 20px 10px;
}