:root{
  --darkColor: #233030;
  --primaryColor: #cde7e1;
  --lighPrimaryColor: #e1f0f0;
  --secondaryColor: #f3f9f8;
  --accentColor: #fefefe;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primaryColor);
}

.subnavbar-container{
  padding: 10px 0px 5px;
}

.sidebar-container{
  background-color: var(--secondaryColor);
  padding: 0px;
}

.main-container{
  background-color: var(--accentColor);
  padding: 20px;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.d-flex-center{
  display: flex;
  justify-content: center;
}